/uploads/*
!/uploads/1_1_19_Hari Thakur.jpg
!/uploads/1_1_19_Ramulal Kc.jpg
!/uploads/1_1_20_Ram kumar karki.jpg
!/uploads/1_2_19_Ram Karki.jpg
!/uploads/1_2_20_Ramri manxey.jpg
!/uploads/1_3_19_Gita Waiba.jpg
!/uploads/1_3_20_HAr har mahadev.jpg
notices/*
!/notices/error_log.txt