*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --main-container-color:#efefef;;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.dashboard-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-container-color);
  min-width: 90%;
}

.overview{
  /* background:var(--main-container-color); */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.overview{
  width: 100%;
}
.overview h2{
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #007BFF;
}

.overview-flex{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.overview-item{
  flex: 1 1 calc(25% - 20px); /* Adjust for 4 items per row */
  max-width: calc(35% - 20px);
  text-align: center;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.overview-item h4 {
  margin-bottom: 10px;
  color: #555;
}

.overview-item p {
  font-size: 1.4em;
  font-weight: bold;
  color: #333;
}

@media (max-width: 768px) {
  .overview-item {
      flex: 1 1 calc(50% - 20px); /* 2 items per row on smaller screens */
      max-width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .overview-item {
      flex: 1 1 100%; /* 1 item per row on very small screens */
      max-width: 100%;
  }
}
