* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-container-color: #efefef;
  ;
}

/* Welcome msg css */
.welcome-message {
  position: fixed;
  top: -100px;
  /* Hidden above the screen initially */
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  /* Green background */
  color: white;
  /* White text */
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 1s ease-in-out, opacity 1s ease-out;
  z-index: 1000;
}

.welcome-message.show {
  margin-top: 20px;
  transform: translateX(-50%) translateY(100px);
  /* Moves into view */
}

.welcome-message.hide {
  transform: translateX(-50%) translateY(-200px);
  /* Moves out of view */
  opacity: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.dashboard-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: var(--main-container-color); */
  min-width: 90%;
}

section {
  background-color: var(--main-container-color);
  width: 95%;
  /* min-width: 500px; */
}


/* elecion time section css */
/* General styling for the section election time */
.election-time {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* min-width: 500px; */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* background-color:#f9f9f9; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

/* Notice section Styling  */
.notice-section {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.notice-section h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #007BFF;
}
.overview h3{
  font-size: 1.2em;
  color: #007BFF;
}

.notice-section p {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
.notice-section #current-notice {
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.notice-section button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.notice-section button:hover {
  background-color: #0056b3;
}

.content-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.overview {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.overview-item {
  width: 90%;
  text-align: start;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.overview-item summary {
  font-size: 1.1em;
  margin-bottom: 6px;
  color: #000000;
  font-weight: bold;
}
.overview-item summary:hover {
  cursor: pointer;
}
.overview-item p {
  font-size: 1em;
  font-weight: normal;
  color: #333;
}

/* Form styling */
form {
  background-color: white;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

form label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

form input:focus {
  border-color: #007bff;
}

form button {
  width: 40%;
  min-width: 120px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .notice-section #current-notice {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .overview {
    width:80%;
  }

  form {
    width: 80%;
}
}

@media (max-width: 480px) {
  .overview-item {
    flex: 1 1 100%;
    /* 1 item per row on very small screens */
    max-width: 100%;
  }

  .election-time {
    padding: 15px;
  }

  .notice-section p {
    font-size: 14px;
  }

  form button {
    font-size: 14px;
  }
}