  /* Modal styles */
  .modal-overlay1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content1 {
    
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 1.4em;
    max-width: 500px;
    width: 90%;
    color: red;
}

.modal-content1 button {
    margin-top: 10px;
    padding: 12px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content1 button:hover {
    background-color: #0056b3;
}