* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(76, 156, 231); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2d7dac; 
}
body {
  background-color: #473c75;

  ;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
 
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
  width: 85%;
  max-width: 1100px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background: rgba( 0255, 0255, 255, 0.45 );
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.left {
  position: relative;
  width: 35%;
  /* background-image: url('vote2.jpg');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat; */

  color: rgb(63, 8, 151);
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap:30px;
  align-items: center;
  padding: 80px 40px 0px 40px;
  border-right: 2px burlywood;
  border-right-style: solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.logo {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 90px;
  height: auto;
 
}

.center-image {
  width: 55%; /* Allow the image to take the full width of its container */
  max-width: 220px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.left .left-2 {
  margin-bottom: 5%;
  margin-left: 2%;
}


.left .left-2 h1 {
  /* position: relative; */
  /* top:50px; */
  /* font-size: 2.5rem; */
  text-align: center;
  font-family: cursive;
  font-weight: bold;
}

.left .left-2 p {
  margin-top: 15px;
  font-size: 1.2rem;
  text-align: center;
  font-family: math;
}

/* rightbox */
.right {
  width: 65%;
  padding: 10px 40px 0px 40px;
}

form {
  width: 100%;
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 0px;
}
.error {
  color: rgb(175, 0, 0);
  font-size: 12px;
  display: block;
  padding: 3px 0px 3px 6px;
  height: 18px;
}
input[type="text"],
input[type="file"],select ,input[type="date"],input[type="password"]{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;  /* overflow: visible; */
}
input[type="file"]{
  border: 1px solid grey;
}
input[type="file"]::file-selector-button {
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
  max-width: 100px;
}

label {
  margin: 4px 0px 2px 0px;
  display: block;
  font-weight: bold;
}
.address-selection{
  display: flex;
  column-gap:3%;
}
.register{
  margin-bottom: 0;
  margin-top: 20px;
}
.submit-button {
  width: 100%;
  font-size: 1.2em;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #333;
}
.login-direction{
  font-size: 1.2em;
  margin: 8px 0px;
  text-align: center;
}
.login-direction a{
  text-decoration: none;
  margin-left: 1%;
}
.login-direction a:hover{
  text-decoration:underline ;
  color: rebeccapurple;
}
.two-columns {
  display: flex;
  column-gap: 20px;
}
.field-error-groups{
  flex: 1;
}

.citizenship {
  margin-bottom: 0px;
  flex-direction: column;
  gap: 0px;
  width: 50%;
}

.two-columns input {
  width: calc(50% - 10px);
}
.citizenship input, .field-error-groups input{
  width: 100%;
}
input:focus{
 outline: 1px solid rgb(173, 87, 87);
 border:none;
}
/* FOr toggle password*/
.input-container {
  position: relative;
  /* width: 100%; */
  /* margin-bottom: 5px; */
}
.toggle-password {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left {
    background: none;
    padding-bottom: 10px;
    padding-top: 50px;
    flex-direction: row;
    border: none;
    border-bottom: 1px solid rgb(219, 219, 185);
    
  }

  .left .left-2 h1 {
    font-size: 1.7em;
  }

  .left,
  .right {
    width: 100%;
  }
  .center-image {
    width: 20%;
    border-radius: 15%;        
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    filter: drop-shadow(0 10px 8px rgba(0,0,0,0.5));
  }
  
  .right {
    padding-top: 15px;
  }

  .two-columns {
    flex-direction: column;
  }

  .two-columns input {
    width: 100%;
  }
}