* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(76, 156, 231); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2d7dac; 
}
body {
  background-color: #2e2166

  ;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
 
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
  width: 85%;
  max-width: 1100px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background: rgba( 0255, 0255, 255, 0.6 );
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.left {
  position: relative;
  width: 35%;
  /* background-image: url('vote2.jpg');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat; */

  color: rgb(63, 8, 151);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px 40px 0px 40px;
  border-right: 2px burlywood;
  border-right-style: solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.logo {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 90px;
  height: auto;
 
}

.center-image {
  width: 85%; /* Allow the image to take the full width of its container */
  max-width: 220px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.left .left-2 {
  margin-bottom: 5%;
  margin-left: 2%;
}

.left .left-2 h1 {
  /* position: relative; */
  /* top:50px; */
  font-size: 2.5rem;
  text-align: center;
  font-family: cursive;
  font-weight: bold;
}

.left .left-2 p {
  margin-top: 15px;
  font-size: 1.2rem;
  text-align: center;
  font-family: math;
}

.right {
  width: 65%;
  padding: 10px 40px 0px 40px;
}

form {
  width: 100%;
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="file"],select ,input[type="date"]{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;  /* overflow: visible; */
}
input[type="file"]{
  border: 1px solid grey;
}
input[type="file"]::file-selector-button {
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
  max-width: 100px;
}

label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}
.address-selection{
  display: flex;
  column-gap:3%;
}
button {
  width: 100%;
  padding: 15px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}

.two-columns {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.citizenship {
  margin-bottom: 0px;
  flex-direction: column;
  gap: 0px;
}

.two-columns input {
  width: calc(50% - 10px);
}
.citizenship input{
  width: 100%;
}

input:focus{
 outline: 1px solid rgb(173, 87, 87);
 border:none;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left {
    background: none;
    padding-bottom: 10px;
    padding-top: 50px;
    flex-direction: row;
    border: none;
    border-bottom: 1px solid rgb(219, 219, 185);
    
  }

  .left .left-2 h1 {
    font-size: 1.7em;
  }

  .left,
  .right {
    width: 100%;
  }
  .center-image {
    border-radius: 50%;
    filter: drop-shadow(0 10px 8px rgba(0,0,0,0.5));
  }
  
  .right {
    padding-top: 15px;
  }

  .two-columns {
    flex-direction: column;
  }

  .two-columns input {
    width: 100%;
  }
}