.table-container{
  overflow-x: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table thead {
  background-color: #00799e;
  color: #fff;
}

table th,
table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

table th {
  text-align: center;
}

table td {
  text-align: left;
}

table img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

table img:hover {
  transform: scale(1.1);
}

.modal-content {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 90%;
  padding: 40px;
  overflow-x: auto;
  border-radius: 10px;
}
.img-modal{
  padding: 10px;
  min-width: 400px;
  height:85%;
  background-color: #dfdfdf;
}
.modal img {
  object-fit: contain;
  max-width: 400px;
  max-height: 80%;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  background: none;
  border: none;
}
