/* General Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #a1c3b8;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 400px;
}

label,
input {
  display: block;
  width: 100%;
}

input[type="text"],
input[type="number"],
input[type="password"] {
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 12px;
}

/* Logo Styling */
.logo-container {
  position: absolute;
  top: 5%;
  left: 5%;
}

.logo-container img {
  width: 30%;
  height: auto;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
  .logo-container img {
    width: 100px;
  }

  form {
    width: 75%;
    height: 45%;
    padding: 30px;
  }

  input[type="text"],
  input[type="submit"],
  input[type="number"],
  input[type="password"] {
    font-size: 14px;
  }
}